---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<div class="flex justify-center items-center p-14  text-gray-200 mb-32 " id="About">
    <div class="max-w-full">
      <h2 class="text-complementario text-3xl mb-4 relative inline-block font-bold after:content-[''] after:block after:w-full after:h-[2px] after:bg-complementario after:ml-4 after:mt-2">{t('sobreMiT')}</h2>
      <p class="text-lg leading-relaxed mb-4 text-gray-300">
       

{t('aboutMe1')}
      </p>
      <p class="text-lg leading-relaxed mb-4 text-gray-300">
        {t('aboutMe2')}
      </p>
      <p class="text-lg leading-relaxed mb-4 text-gray-300">
        {t('aboutMe3')}
      </p>
      <ul class="pl-5 space-y-2 text-gray-300 grid grid-cols-2 gap-x-4 list-none mt-10" >
        
        <li class="text-base "><span class="inline-block bg-complementario w-2 h-2 rounded-full mr-2"></span>JavaScript</li>
        <li class="text-base"><span class="inline-block bg-complementario w-2 h-2 rounded-full mr-2"></span>React</li>
        <li class="text-base "> <span class="inline-block bg-complementario w-2 h-2 rounded-full mr-2"></span>Next.js</li>
        <li class="text-base"><span class="inline-block bg-complementario w-2 h-2 rounded-full mr-2"></span>Java</li>
        <li class="text-base "><span class="inline-block bg-complementario w-2 h-2 rounded-full mr-2"></span>SQL</li>
        <li class="text-base "><span class="inline-block bg-complementario w-2 h-2 rounded-full mr-2"></span>Node.js</li>

          
      </ul>
    </div>
  </div>
  