<div class="flex flex-col justify-center items-center p-32 mt-48 mb-48" id="Contact">
    <h2  class="text-complementario text-3xl mb-4 relative inline-block font-bold after:content-[''] after:block after:w-full after:h-[2px] after:bg-complementario after:ml-4 after:mt-2">Ponte en contacto</h2>
    <p class="text-center mt-4 text-lg mb-10 text-gray-300">Actualmente, estoy en busca de nuevas oportunidades laborales. Si tienes alguna propuesta, duda o simplemente deseas ponerte en contacto, no dudes en escribirme. Estoy siempre dispuesto a responder y encantado de conocer nuevas ideas o colaborar en proyectos interesantes. ¡No dudes en contactarme, estaré encantado de hablar contigo!</p>
    <button class="inline-block text-center w-40 h-16 border-2 border-gray-300 text-gray-300 font-semibold rounded-lg transform transition-all duration-300 hover:translate-y-[-4px] hover:shadow-lg hover:shadow-gray-300" id="open" >
        Contacto
    </button>
</div>


<!-- Modal de formulario de contacto -->
<div id="modal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-50">

    <div class="bg-white p-6 rounded shadow-lg w-1/3 flex items-end flex-col">

        <button
        class=" dark:text-white text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="button"
        id="close"
      >
        X
      </button>
        <iframe style="border:none;width:100%;" id="untitled-form-zkrdm8" src="https://opnform.com/forms/untitled-form-zkrdm8"></iframe><script type="text/javascript" onload="initEmbed('untitled-form-zkrdm8')" src="https://opnform.com/widgets/iframe.min.js"></script>
  

    </div>
</div>

<!-- JavaScript para manejar el modal -->
 <script is:inline>
    const buttonOpen = document.getElementById('open');
    if (buttonOpen) {
        buttonOpen.addEventListener('click', () => {
            openModal();
        });
    } else {
        console.error("Button not found!");
    }
    const buttonClose = document.getElementById('close');
    if (buttonClose) {
        buttonClose.addEventListener('click', () => {
            closeModal();
        });
    } else {
        console.error("Button not found!");
    }
    
    function openModal() {
        const modal = document.getElementById('modal');
        if (modal) {
            modal.classList.remove('hidden');
        }
    }

    // Función para cerrar el modal
    function closeModal() {
        const modal = document.getElementById('modal');
        if (modal) {
            modal.classList.add('hidden');
        }
    }
 </script>


