---
import { languages } from '../i18n/ui';
import { getLangFromUrl,useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url) ?? "";
const t = useTranslations(lang);
function traslatedPath(basePath: string, lang: string): string {
  return `${basePath}${lang}/`; // Puedes ajustar la estructura de la URL según sea necesario
}

---

<header  id="header" class=" text-white p-4 fixed top-0 w-full z-50 transition-all duration-300 bg-primario/50 backdrop-blur-lg">
    <div class="container mx-auto flex justify-between items-center">
        <img class="logo w-12" src="/LogoJH.svg" alt="Astro logo" />
        <nav class="flex items-center justify-between space-x-4">
          <!-- Enlaces de navegación -->
          <div class="flex space-x-4">
            <a href="/" class="hover:text-complementario">{t('inicio')}</a>
            <a href="#About" class="hover:text-complementario">{t('sobreMi')}</a>
            <a href="#proyectos" class="hover:text-complementario">{t('proyectos')}</a>
            <a href="#Contact" class="hover:text-complementario">{t('contacto')}</a>
          </div>
        
          <!-- Selector de idiomas -->
          <ul class="flex space-x-2">
            {Object.entries(languages).map(([lang, label]) => (
              <li>
                <a href={traslatedPath("/", lang)} class="hover:text-complementario">{label}</a>
              </li>
            ))}
          </ul>
        </nav>
        
    </div>
  </header>
  <script>
    let lastScrollTop = 0;
const header = document.getElementById('header');

window.addEventListener('scroll', () => {
  let scrollTop = document.documentElement.scrollTop;

  if (header) {
    if (scrollTop > lastScrollTop) {
      // Hide the header when scrolling down
      header.style.transform = 'translateY(-100%)';
    } else {
      // Show the header when scrolling up
      header.style.transform = 'translateY(0)';
      header.style.backgroundColor = 'rgba(31, 45, 53, 0.8)';  // Background with opacity
    }
  }
  lastScrollTop = scrollTop;
});



  </script>

 
